<h1>Create Phone Survey</h1>

<%= render 'form' %>

<p></p>
    <%= link_to surveys_path, :class => "btn btn-default" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Back
    <% end %>